<div class="container">
    <h1 class="my-2 text-center">TASKS</h1>

    <div class="row">
        {{!-- Render items that are not completed in the list table --}}
        <div class="col-xl-6 col-lg-12 col-md-12 mt-5">

            {{!-- Uncompleted tasks --}}
            <h4 class="uncompleted-tasks text-center">UNCOMPLETED</h4>
            <div class="card my-3 mx-auto" style="width: 18rem;">
                <ul class="list-group list-group-flush">


                    {{#each list}}

                    {{#unless this.complete}}
                    <li class="list-group-item">{{this.id}}. {{this.task}} <i
                            class="circle outline icon uncompleted-task-icon" id={{this.id}}></i></li>
                    {{/unless}}
                    {{/each}}
                </ul>

            </div>
        </div>


        {{!-- Render ttems that are completed in the list table --}}
        <div class="col-xl-6 col-lg-12 col-md-12 mt-5">
            {{!-- Completed tasks --}}
            <h4 class="uncompleted-tasks text-center">COMPLETED</h4>
            <div class="card my-3 mx-auto" style="width: 18rem;">
                <ul class="list-group list-group-flush">
                    {{#each list}}
                    {{#if this.complete}}
                    <li class="list-group-item completed-task">{{this.id}}. {{this.task}} <i class="check circle outline icon"></i>
                        <i class="trash alternate outline icon delete-task-icon" id={{this.id}}></i>
                    </li>
                    {{/if}}
                    {{/each}}
                </ul>
            </div>
        </div>


    </div>

    <hr />

    {{!-- CREATE A ROW WHERE THEY WOULD ADD A TASK --}}
    <div class="row my-4">
        <div class="col-lg-12 text-center">
            <h6 class="text-center my-3">NEW TASK</h6>

            <form method="POST" action="/list/create" style="display:inline">
                <input type="text" class="form-control float-left mr-4 mt-3" placeholder="Enter a new task" name="task_name"
                    value="" style="display: inline; width: 75%" />

                <button class="btn btn-outline-secondary float-left mt-3" type="submit" style="display: inline">ADD
                    TASK</button>
            </form>




        </div>
    </div>
</div>